# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# virtualenv
.venv/
venv/
env/

# uv
.uv/
.python-version

# =========================
# Logs & temp
# =========================
*.log
*.tmp
*.swp
*.swo

# =========================
# OS
# =========================
.DS_Store
Thumbs.db

# =========================
# IDE
# =========================
.vscode/
.idea/

# =========================
# Docker / DB
# =========================
pgdata/
redisdata/
*.pid

# volumes / mounts
secure_mount/
tablespaces/

certs/

# =========================
# Environment
# =========================
.env
.env.*

# =========================
# Build / dist
# =========================
dist/
build/
*.egg-info/

# =========================
# Misc
# =========================
*.sqlite3
*.db

